name: Continuous Integration

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  test:
    uses: jstz-dev/jstz/.github/workflows/release.yml@huanchengchang/jstz-941-3
    with:
      dry_run: true
      ref: huanchengchang/jstz-941-3
    secrets: inherit