name: Release

on:
  workflow_dispatch:
    inputs:
      ref:
        description: Ref of the commit from a release will be built
        required: true
        type: string
      octez_version:
        description: Version of the octez package to be used for the jstzd image
        required: true
        type: string
      dry_run:
        description: Dry-run CLI build without publishing a release
        type: boolean
        required: false
        default: true
  workflow_call:
    inputs:
      ref:
        description: Ref of the commit from a release will be built
        required: true
        type: string
      octez_version:
        description: Version of the octez package to be used for the jstzd image
        required: true
        type: string
      dry_run:
        description: Dry-run SDK build without pushing to NPM
        type: boolean
        required: false
        default: true

jobs:
  images:
    name: Build images
    uses: jstz-dev/jstz/.github/workflows/docker.yml@huanchengchang/jstz-941-3
    with:
      ref: ${{ inputs.ref }}
      dry_run: ${{ inputs.dry_run }}
      octez_version: ${{ inputs.octez_version }}
    secrets: inherit

  cli:
    name: Build CLI
    uses: jstz-dev/jstz/.github/workflows/cli-npm.yaml@huanchengchang/jstz-941-3
    with:
      ref: ${{ inputs.ref }}
      dry_run: ${{ inputs.dry_run }}
    secrets: inherit

  sdk:
    name: Build SDK
    uses: jstz-dev/jstz/.github/workflows/sdk-npm.yml@huanchengchang/jstz-941-3
    with:
      ref: ${{ inputs.ref }}
      dry_run: ${{ inputs.dry_run }}
    secrets: inherit

  runtime_api_coverage:
    name: Publish runtime API coverage
    uses: jstz-dev/jstz/.github/workflows/runtime-api-coverage.yml@huanchengchang/jstz-941-3
    with:
      deploy_report: ${{ !inputs.dry_run }}
      build_ref: ${{ inputs.ref }}
    secrets: inherit

  deploy_docs:
    name: Deploy docs
    uses: jstz-dev/jstz/.github/workflows/deploy-docs.yml@huanchengchang/jstz-941-3
    with:
      ref: ${{ inputs.ref }}
      dry_run: ${{ inputs.dry_run }}
    secrets: inherit
